---
layout: default
---
<section class="py-8 md:py-12 max-w-6xl mx-auto md:px-4">
  <div class="flex flex-col md:flex-row justify-between items-start gap-6 md:gap-12">
    <h1 class="text-4xl md:text-5xl font-black leading-tight md:w-2/5">Ehitustehnika ja tellingute rent <span class="text-red-700">kogu Eestis</span></h1>
    <p class="text-lg md:text-xl leading-relaxed md:w-1/2 md:pt-2">{{ page.description }}</p>
  </div>
</section>

<section class="pb-8">
  <div class="max-w-6xl mx-auto grid md:grid-cols-2 md:gap-8 gap-1 md:px-4">
    {% include landing-page-card.html href="/products/avant-laadur-530/" image="/images/products/avant/avant.jpg" alt="Avant laadur" title="Avant Laadurid" description="Multifunktsionaalne laadur koos lisaseadmetega kõigiks töödeks." %}
    {% include landing-page-card.html href="/tellingud-ja-piirdeaiad/" image="/images/products/tellingud/raamtelling-monteeritud.jpg" alt="Tellingud ja piirdeaiad" title="Tellingud & Piirdeaiad" description="Ehitustellingud ja piirdeaiad rendiks kogu Eestis." %}
  </div>
</section>
