---
layout: default
---
<section class="py-4 max-w-6xl mx-auto">
  <div class="flex flex-col md:flex-row justify-between items-center">
    <h1 class="text-3xl md:text-4xl font-bold mb-4 md:w-1/3">{{ page.title }}</h1>
    <p class="text-lg mb-6 md:w-1/2">{{ page.description }}</p>
  </div>
</section>

<section class="pb-8">
  <div class="max-w-6xl mx-auto grid md:grid-cols-2 md:gap-8 gap-1">
    {% include landing-page-card.html href="/products/avant-laadur-530/" image="/images/products/avant/avant.jpg" alt="Avant laadur" title="Avant Laadurid" description="Multifunktsionaalne laadur koos lisaseadmetega kõigiks töödeks." %}
    {% include landing-page-card.html href="/tellingud-ja-piirdeaiad/" image="/images/products/tellingud/raamtelling-monteeritud.jpg" alt="Tellingud ja piirdeaiad" title="Tellingud & Piirdeaiad" description="Ehitustellingud ja piirdeaiad rendiks kogu Eestis." %}
  </div>
</section>
